<div class="title login flex flex-wrap gap-4 justify-between py-4 px-2 container">
  <span>
    <%= link_to root_path do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    <% end %>
  </span>
  <span>
    <h2>TRANSACTIONS</h2>
  </span>
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
    </svg>
  </span>
</div>
<!-- Start of most recent & most ancient -->
<div class="title login flex flex-wrap gap-4 justify-end py-2 px-2 container items-center">
  <span>
    <%= link_to root_path do %>
      Most recent
    <% end %>
  </span>
  <span>
    <%= link_to root_path do %>
      Most ancient
    <% end %>
  </span>
</div>
<!-- Start of gift card -->
<div class="flex flex-wrap gap-4 justify-between py-2 px-2 container items-center bg-white shadow-md">
  <span>
    <%= link_to root_path do %>
      Gift credit
    <% end %>
  </span>
  <span>
    <%= link_to root_path do %>
      $45.00
    <% end %>
  </span>
</div>
<!-- Start of category transactions -->
<div class="flex flex-col gap-2 container bg-transparent py-3 px-3">
  <div class="flex flex-wrap gap-4 justify-between py-2 px-2 container items-center bg-white shadow-md">
    <img />
    <div class="flex flex-col">
      <div class="flex gap-3">
        <span class="text-gray-300">Mac donalds fastfood</span>
        <span>$45.00</span>
      </div>
      <div class="text-gray-200">
        <span>12 Apr 2014</span>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 justify-between py-2 px-2 container items-center bg-white shadow-md">
    
  </div>
  <div class="flex flex-wrap gap-4 justify-between py-2 px-2 container items-center bg-white shadow-md">
    
  </div>
</div>